In [10]:
# Python sets - Not allowed duplicates, unique values, hetrogeneous, unordered, can't add new item once added
# Tuple and list allow duplicates
# dict and set not allowed duplicates
set1 = {1,2,3,4}
print(set1)

{1, 2, 3, 4}

In [5]:
set1 = {1,2,3,4}
set1.add(5)
print(set1)

{1, 2, 3, 4, 5}

In [6]:
set1 = {1,2,3,4}
set1.add(True) # Not allowed True it considered as duplicate due to 1 is present in set, 1 means True, 0 - False
print(set1)

{1, 2, 3, 4}

In [7]:
set1 = {1,2,3,4}
set1.remove(1) 
print(set1)

{2, 3, 4}

In [8]:

set1.add(True)
print(set1)

{True, 2, 3, 4}

In [9]:
set1 = {1,2,3,4}
print(dir(set1))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [12]:
set1 = {1,2,3,4}
print(set1)
set1.clear()
print(set1)

{1, 2, 3, 4}
set()

In [13]:
lst = [1,5,4,2,4]
print("lst", lst)
set1 = set(lst)
print("set1", set1)

lst [1, 5, 4, 2, 4]
set1 {1, 2, 4, 5}

In [14]:
tup = (1,5,4,2,4) # set() is a constructor, list(), dict(), int(), bool(), str(), tuple()
print("tup", tup)
set1 = set(tup)
print("set1", set1)

tup (1, 5, 4, 2, 4)
set1 {1, 2, 4, 5}

In [16]:
set1 = {1,2,3}
set2 = {4,5,6}
print(set1)
print(set2)
set3 = set1 | set2
print(set3)

{1, 2, 3}
{4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [17]:
set1 = {1,2,3}
set2 = {1,3,6}
print(set1)
print(set2)
set3 = set1 | set2
print(set3)

{1, 2, 3}
{1, 3, 6}
{1, 2, 3, 6}

In [25]:
set1 = {1,2,3}
set2 = {1,3,6}
print(set1)
print(set2)
set3 = set1 & set2
print(set3)

{1, 2, 3}
{1, 3, 6}
{1, 3}

In [24]:
set1 = {1,2,3}
set2 = {1,3,6}
print(set1)
print(set2)

#union
print(set1.union(set2))

{1, 2, 3}
{1, 3, 6}
{1, 2, 3, 6}

In [26]:
set1 = {1,2,3}
set2 = {1,3,6}
set1 = {1,2,3}
set2 = {1,3,6}
print(set1)
print(set2)
#intersection
print(set1.difference(set2))

print(set2.difference(set1))

{1, 2, 3}
{1, 3, 6}
{2}
{6}

In [22]:
set1 = {1,2,3}
set2 = {1,3,6}
print(set1)
print(set2)

#intersection
print(set1.intersection(set2))

{1, 2, 3}
{1, 3, 6}
{1, 3}

In [27]:
# to iterate each value one by one
set1 = {1,2,3}
for i in set1:
    print(i)

1
2
3

In [31]:
set1 = {1,2,3}
1 in set1 and 2 in set1 and 3 in set1
#4 in set1

True

In [34]:
set1 = {1,2,3,4}
set2 = {4,5}
set3 = {2,3,4,7,8}
temp = set1.union(set2).intersection(set3)
print(temp)

temp = set1.difference(set2).intersection(set3)
print(temp)

{2, 3, 4}
{2, 3}

In [39]:
# list comphrehension
arr = [1,2,3,4,5,6,7,8,9]
print(f"{arr}")
even = [i for i in arr if i%2==0] # element, for loop, expression, enclosed with [],(),{}
odd = [i for i in arr if i%2!=0]
print(f"{even}")
print(f"{odd}")

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]
[1, 3, 5, 7, 9]